  <div class="mt10 b-fff" ng-repeat="wb in currentList track by $index">
	   <div class="ptb10 overf">
	      <div class="sy-photo pull-left mr10"><img ng-src="{{myUserInfo.friends[wb.authorID].headPicUrl || myUserInfo.headPicUrl}}" width="100%"/></div>
		  <div class="pull-left mt15">
		    <p class="c-org f20">{{wb.author}}</p>
	        <p class="c-999">{{wb.timeStamp | timePassed}}</p>
		  </div>
		  <div class="pull-right"><img src="images/down.png" width="18"/></div>
	   </div>
	   <div class="c-999 clear ptb10">{{wb.body}}</div>
	   <div class="three-pic ptb10">
	      <ul>
		    <li ng-repeat="pic in wb.pictures track by $index">
				<a href="javascript:void(0);"><img ng-src="{{pic.dataURI}}"></img></a>
			</li>
		  </ul>
	   </div>
	   <div ng-if="wb.parentID!==null && wb.parentWeibo!==null" class="pl-list">
	     <div class="mb10 c-999">
		  <span class="c-blue">@张杰：</span>{{wb.parentWeibo.body}}
		 </div>
	     <div class="three-pic">
	      <ul>
		    <li ng-repeat="pic in wb.parentWeibo.pictures track by $index">
				<a href="javascript:void(0);"><img ng-src="{{pic.dataURI}}"></img></a>
			</li>
		  </ul>
	     </div>
	   </div>
	   <div class="sy-zan c-999 mt10">
	      <ul>
		    <li>
			 <a href="javascript:void(0)" class="c-999"><img src="images/sc.png" width="16" class="vm mr5"/>收藏</a>
			 <a href="javascript:void(0)" class="c-org" style="display:none;"><img src="images/sc2.png" width="16" class="vm mr5"/>已收藏</a>
			</li>
		    <li class="sy-fg">
			 <a href="javascript:void(0)" class="c-999"><img src="images/zf.png" width="13" class="vm mr5"/>{{wb.relays.length | bracket}}</a>
			 <a href="javascript:void(0)" class="c-org" style="display:none;"><img src="images/zf2.png" width="13" class="vm mr5"/>111</a>
			</li>
		    <li>
			 <a href="javascript:void(0)" class="c-999"><img src="images/pl.png" width="17" class="vm mr5"/>{{wb.reviews.length | bracket}}</a>
			 <a href="javascript:void(0)" class="c-org" style="display:none;"><img src="images/pl2.png" width="17" class="vm mr5"/>226</a>
			</li>
		  </ul>
	   </div>
  </div>
