<div class='zfWrap comt-box' ng-show='show'> 
	<div class='top c_tx5'> 
		<span class='left'> 
			<span class='number cNote'>评论本条微博</span> 
		</span> 
		<a href='javascript:void(0);' class='W_close fr' title='关闭'></a> 
	</div> 
	<div class='cont'> 
		<textarea ng-model='review' ng-change='txtChanged()' class='inputTxt' style='overflow-y: hidden; height: 37px;'></textarea> 
	</div>
	<div class='bot'>
		<div class='fr'>
			<span ng-show='R.chCounter<=30' class='countTxt'>还能输入<em>{{R.chCounter}}</em>字</span>
			<a ng-click='(!R.txtInvalid) && addReview()' class='w_btn_a'><span class='btn_30px'>评论</span></a>
		</div>
		<div class='clearfix'></div>
	</div>
	<div class='relayList'>				
		<div class='tabStyle1'>			
			<b class='line'></b>		
		</div>							
		<div class=''>					
			<ul>						
				<li ng-repeat='r in reviewList track by $index' class='nobor'>	
					<div class='msgCnt'>											
						<strong><a ui-sref='root.personal.allPosts({bid:r.authorID})' target='_blank' class='f10a2c7'>{{r.author}}</a>:</strong>	
						<span class='content'>{{r.body}}</span>			
					</div>												
					<div class='pubInfo'>								
						<span class='cNote'>{{r.timeStamp | timePassed}}</span>	
						<a href='#' class='alarm'>删除</a>						
						<a href='#' class='replyCite'>评论</a>					
					</div>		
				</li>			
			</ul>				
		</div>					
		<pagination direction-links='false' boundary-links='true' items-per-page='pageSize' total-items='totalItems' ng-change='pageChanged()' ng-model='currentPage'></pagination>
	<div class='pages'></div>										
	</div>	
</div>