/* CSS Document */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;margin:0;padding:0; font-family: "Microsoft Yahei", arial, helvetica, sans-serif; font-size:100%;}
html,body{ overflow:auto!important;}
ol,ul{list-style:none; overflow:hidden;}
a:link{ text-decoration:none;}
a:visited{ text-decoration:none;}
a:hover{ text-decoration:none;}
a:active{ text-decoration:none;}
.vm{ vertical-align:middle; margin-top:-5px;}
.pr{ position:relative;}
.pa{ position:absolute;}
.overf{ overflow:hidden;}
.clear{ clear:both;}
.borders{ border:1px solid #e5e5e5;}
.bor-top{ border-top:1px solid #e5e5e5;}
.lh30{ line-height:30px;}

.c-org{ color:#ff9206;}
.c-333{ color:#333;}
.c-666{ color:#666;}
.c-999{ color:#999;}
.c-fff{ color:#fff;}
.c-blue{ color:#00aeff;}
.c-hui{ color:#d1d1d1;}
.c-huim{ color:#c2c2c2;}
.c-red{ color:#ff0000;}
.b-fff{ background:#fff;}
.b-hui{ background:#f2f2f2;}
.b-green{ background:#29b816;}

.f10{ font-size:10px;}
.f12{ font-size:12px;}
.f14{ font-size:14px;}
.f16{ font-size:16px;}
.f18{ font-size:18px;}
.f20{ font-size:20px;}
.f24{ font-size:24px;}
.f34{ font-size:40px;}

.m10{ margin:10px;}
.m15{ margin:15px;}
.ml5{ margin-left:5px;}
.ml10{ margin-left:10px;}
.ml20{ margin-left:20px;}
.ml25{ margin-left:25px;}
.mr5{ margin-right:5px;}
.mr10{ margin-right:10px;}
.mr15{ margin-right:15px;}
.mr20{ margin-right:20px;}
.mt5{ margin-top:5px;}
.mt10{ margin-top:10px;}
.mt15{ margin-top:15px;}
.mb10{ margin-bottom:10px;}
.p10{ padding:10px;}
.p15{ padding:15px;}
.p20{ padding:20px;}
.ptb10{ padding:10px 15px 0;}
.plr15{ padding:0 15px;}
.ptb15{ padding:10px 15px;}
.pl15{ padding-left:15px;}
.pb10{ padding-bottom:10px;}


.sy-nav{ height:60px; line-height:60px; width:100%;}
.sy-nav-tb{ margin-left:10px; margin-top:-5px;}
.sy-tab{ height:40px; width:100%;}
.sy-tab ul{ margin:0; padding:0;}
.sy-tab li{ width:33.3%; float:left; text-align:center; height:40px; line-height:40px;}
.sy-tab a{ color:#666;}
.sy-tab .nav-active{ border-bottom:2px solid #ff9206; background:#f2f2f2;}
.sy-tab .nav-active a{ color:#ff9206;}
.sy-photo{ width:80px; height:80px; overflow:hidden; border-radius:100%; border:2px solid #e1dddd;}
.sy-zan{ border-top:1px solid #e6e6e6; border-bottom:1px solid #e6e6e6; padding:8px 0;}
.sy-zan li{ width:33%; float:left; text-align:center;}
.sy-fg{ border-left:1px solid #e6e6e6; border-right:1px solid #e6e6e6;}
.head-nav{ position: fixed; top:0; background:#f8f8f8; width:100%; z-index:11;}
.main-info{ margin-top:110px; width:100%;}
.sy-tab img{ margin-right:5px; vertical-align:middle; margin-top:-3px;}
.sy-tab .tb1{ display:inline-block; width:22px; height:22px; background:url(../images/home2.png) no-repeat; background-size:22px auto; vertical-align:middle; margin-top:-5px; margin-right:10px;}
.sy-tab .tb2{ display:inline-block; width:25px; height:19px; background:url(../images/msg2.png) no-repeat; background-size:25px auto; vertical-align:middle; margin-top:-3px; margin-right:10px;}
.sy-tab .tb3{ display:inline-block; width:19px; height:21px; background:url(../images/my2.png) no-repeat; background-size:19px auto; vertical-align:middle; margin-top:-3px; margin-right:10px;}
.sy-tab .nav-active .tb1{ background:url(../images/home.png) no-repeat; background-size:22px auto;}
.sy-tab .nav-active .tb2{ background:url(../images/msg.png) no-repeat; background-size:25px auto;}
.sy-tab .nav-active .tb3{ background:url(../images/my.png) no-repeat; background-size:19px auto;}
.sy-zan li:nth-child(1) img{ margin-top:-5px;}
.sy-zan li:nth-child(2) img{ margin-top:-3px;}
.sy-zan li:nth-child(3) img{ margin-top:-2px;}
.send-nav{ height:50px; line-height:50px; padding:0 10px;}
.send-qx{ width:25%;}
.send-wb{ width:50%;}
.send-fs{ width:25%;}
.send-main{ margin-top:50px;}
.send-text{ border:0; width:100%; height:230px; padding:10px; color:#999; font-size:16px; display:block;}
.send-more{ height:45px; line-height:45px; padding:0 15px; border-top:1px solid #d8d8d8; border-bottom:1px solid #d8d8d8; background:#ebebeb;}
.send-img{ margin:10px;}
.send-img li{ width:30%; float:left; margin:0 1.65%; position:relative; overflow:hidden; margin-bottom:8px;}
.send-img li i{ position:absolute; right:0; top:0; width:20px; height:20px; background:url(../images/del.png) no-repeat; background-size:20px 20px;}
.send-img li i a,.sy-tab a{ display:inline-block; width:100%; height:100%;}
.send-img li img,.three-pic li img,.set-photo img{ width:100%; height:100%; display:block;}
.three-pic figure,.three-pic li{ width:78px; height:78px; border:1px solid #cbcaca; overflow:hidden; float:left; margin-right:5px; margin-bottom:5px;}
.one-pic img{ width:44%; max-height:200px; border:1px solid #cbcaca;}
.pl-list{ margin:10px 15px; background:#f7f7f7; border:1px solid #efefef; padding:6px; border-radius:5px;}
.detail-nav{ margin-bottom:-1px;}
.detail-nav li{ float:left; height:38px; line-height:35px; position:relative;}
.detail-nav li a{ color:#999;}
.detail-nav li em{display:none; border-width:9px; position:absolute; bottom:1px; left:18px;border-style:solid dashed dashed; border-color: transparent transparent #ccc;font-size:0; line-height:0;}
.detail-nav li span{display:none; border-width:9px; position:absolute; bottom:0px; left:18px;border-style:solid dashed dashed; border-color: transparent transparent #FFF;font-size:0; line-height:0;}
.detail-info{ border-top:1px solid #e6e6e6;}
.detail-nav .pl-active em{ display:block;}
.detail-nav .pl-active span{ display:block;}
.detail-nav .pl-active a{ color:#ff9000;}
.detail-list{ border-bottom:1px dashed #e6e6e6; padding:10px 0; overflow:hidden;}
.detail-left{ width:40px; height:40px; overflow:hidden; border-radius:100%;}
.detail-left img{ width:100%; height:100%; display:block;}
.detail-right{ width:80%;}
.my-msg{ padding:10px 20px 10px 15px; overflow:hidden;}
.my-msg a,.my-news a{ display:block; width:100%; min-height:30px;}
.my-news{ padding:10px 0 10px 15px; overflow:hidden;}
.my-left{ width:40px; height:40px; overflow:hidden; border-radius:100%;}
.my-text{ width:85%;}
.msg-text{ border:0; width:100%; height:90px; padding:10px; color:#999; font-size:16px; display:block;}
.msg-send{ display:inline-block; border:1px solid #999; height:28px; line-height:28px; border-radius:5px; color:#999; width:50px; text-align:center;}
.msg-time span{ border-radius:7px;}
.msg-left{ background:#fff; border:1px solid #bebebe; width:auto; display:inline-block; border-radius:5px; padding:5px 10px; text-align:left; margin-right:55px;}
.msg-right{ background:#1db636; border:1px solid #bebebe; width:auto; display:inline-block; border-radius:5px; padding:5px 10px; text-align:left; color:#fff; margin-left:55px;}
.msg-left em{display:block; border-width:5px; position:absolute; top:7px; left:-11px;border-style:solid dashed dashed; border-color:transparent #bebebe transparent transparent;font-size:0; line-height:0;}
.msg-left span{display:block; border-width:5px; position:absolute; top:7px; left:-10px;border-style:solid dashed dashed; border-color:transparent #FFF transparent transparent;font-size:0; line-height:0;}
.msg-right em{display:block; border-width:5px; position:absolute; top:7px; right:-11px;border-style:solid dashed dashed; border-color:transparent transparent transparent #bebebe;font-size:0; line-height:0;}
.msg-right span{display:block; border-width:5px; position:absolute; top:7px; right:-10px;border-style:solid dashed dashed; border-color:transparent transparent transparent #1db636;font-size:0; line-height:0;}
.wo-photo{ width:60px; height:60px; overflow:hidden; border-radius:100%; border:2px solid #e1dddd;}

.alert-main{ width:100%; position:fixed; bottom:0; z-index:33; background:#e6e6e6;}
.fade{ 
	display:none;
	position:fixed; 
	top: 0%; 
	left: 0%;	 
	background: black; 
	z-index:22; 
	-moz-opacity: 0.3; 
	opacity:.30; 
	filter: alpha(opacity=35);
	width:100%;
	height:100%;
}
.hide{ display:none;}
.alert-cz{ display:inline-block; width:100%; padding:8px 0; background:#FFF;}
.set-photo{ width:135px; height:135px; background:#fff; overflow:hidden; border-radius:100%; margin:20px auto 5px; border:1px solid #ccc;}
.set-input{ width:100%; height:40px; line-height:40px; border:1px solid #e5e5e5; background:#fff; border-radius:3px;}
.set-but{ display:inline-block; width:100%; height:40px; line-height:40px; text-align:center; font-size:24px; border-radius:3px;}
.follow{ width:65px!important; display:inline-block; background:#69d65d; border:1px solid #52b946; min-height:26px!important; line-height:26px; margin-top:2px; color:#fff; border-radius:5px; text-align:center;}
.f-cancel{ width:65px!important; display:inline-block; border:1px solid #ff9000; min-height:26px!important; line-height:26px; margin-top:2px; color:#ff9000; border-radius:5px; text-align:center;}
.up-tb{ display:inline-block; padding-right:20px; background:url(../images/up.png) right center no-repeat; background-size:16px auto;}
.down-tb{ display:inline-block; padding-right:20px; background:url(../images/down2.png) right center no-repeat; background-size:16px auto;}
.more-tit{ top:50px; left:17%; background:#000; width:100px; padding:10px; -moz-opacity: 0.8; opacity:.80; filter: alpha(opacity=85); border-radius:5px; display:none; z-index:999;}
.more-tit a{ color:#fff; display:inline-block; width:100%;}
.more-tit li{ height:30px; line-height:30px;}
.more-tit ul{ overflow: visible;}
.jiantou{ top:-19px; left:23px; width:30px; height:12px; background:url(../images/jiantou.png); background-size:30px 12px;}

.send-qx-extend{padding:0 0 0 20px}
.send-fs-extend{padding:0 20px 0 0}
.send-main-extend{margin:0 5px;}
.send-text-extend{border:0; width:100%; height:100px; padding:10px; color:#999; font-size:16px; display:block;}