	<div class="publisherTop border_all mb15 p10">
	<div class="send_weibo">		
      	<form name="weiboForm" ng-submit="(!C.txtInvalid) && addNewPost()" novalidate>  
			<div class="title_area">
				<div class="title fl f16">让信息没有障碍的实时传播！</div>
				<div ng-show="C.chCounter<=30" class="S_textb fr f14">
				   还可以输入 <em>{{C.chCounter}}</em> 字
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="input">
				<textarea ng-model="wbText" ng-change="wbtxtChanged()" class="input_detail" placeholder="趁阳光明媚，趁微风不燥，多去看看外面的世界吧，2014你想去的城市是？"></textarea>
				<div ng-show="C.sentOK" class="send_succpic">
					<p class="icon_succB"></p><p class="txt">发布成功</p>
				</div>
			</div>
			<div class="func_area">
				<div class="func">
					<span class="btn_30px"><input ng-class="C.submitStyle" type="submit" value="发布" ng-disabled="weiboForm.$invalid"></input></span>
				</div>
				<div class="kind_v2">
					<span class="kind_detail">
						<a title="图片" href="javascript:void(0);" class="btnWeek"><i class="W_ico15 icon_sw_img"></i>图片</a>
						<a title="长微博" href="javascript:void(0);" id="btnMonth"><i class="W_ico15 icon_sw_chang"></i>长微博</a>
					</span>
					<!--添加图片-->
					<div class="W_layer" id="W_layer_lotspic" style="display:none;top:35px;">
						<div class="bg w370">						
							<div class="title"><a title="关闭" href="javascript:void(0);" class="W_close fr"></a>图片上传</div>
							<div class="layer_send_pic content">								
								<ul class="drag_pic_list">
									<li ng-repeat="url in tmpPicUrls track by $index">
										<a href="javascript:void(0);" target="_blank"><img ng-src="{{url}}" width="102" alt=""/></a>
									</li>
									<li>
										<div class="drag_pic_more">
											<div class="drag_pic_more_btn">
												<img src="images/141020_img05.jpg" width="102" alt=""/>
											</div>
											<input onchange="angular.element($('#fileName')).scope().fileSelected(this.files)" type="file" multiple id="fileName" accept="image/*" class="inputstyle"></input>
										</div>
										
									</li>
									
									<div class="clearfix"></div>
								</ul>								
							</div>
							<div class="arrow arrow_t"></div>
						</div>
					</div>			
				</div>
				<div class="clearfix"></div>
			</div>
		</form>			
		</div>
	</div>

	<div class="border_all mb15">
		<div class="tab_radious">
    		<ul>
				<li class="t_itm current">
       		       	<a class="S_txt1" ng-click="getAllPosts()">微博</a>
				</li>
              	<li class="S_txt3">|</li>
				<li class="t_itm ">
					<a href="javascript:void(0)" class="S_txt1" ng-click="getOriginalPosts()">原创</a>
				</li>
				<li class="S_txt3">|</li>
				<li class="t_itm">
					<a class="S_txt1" href="#">图片</a>
				</li>
				<div class="clearfix"></div>
			</ul>
		</div>
	</div>
		<div class="WB_feed">
		<ul>
			<li ng-repeat="wb in weiboList track by $index" class="border_all WB_feed_type">
				<div class="userPic">
					<p><a href="#" title=""><img ng-src="{{wb.headPicURL}}" title=""  width="78"/></a></p>
				</div>
				<div class="userName">
					<b><a href="#" title="" target="_blank">{{wb.author}}: </a></b>
					<span class="msgCnt">{{wb.body}}</span>
					
					<div ng-repeat="p in wb.parentWeibo track by $index" class="WB_media_expand mt15">
						<div class="WB_arrow">						
						</div>
						<div class="WB_info mb5">
							<a href="#">@{{p.author}}</a>
						</div>
						<div class="WB_text">
                			{{p.body}}
						</div>
						<div class="lotspic_list">
							<ul>
								<li ng-repeat="uri in p.tmpPicUrls">
								<img ng-src="{{uri}}" alt=""/>
								</li>
								<div class="clearfix"></div>
							</ul>
						</div>
					</div>

					<div class="lotspic_list">
						<ul>
							<li ng-repeat="uri in wb.tmpPicUrls">
								<img ng-src="{{uri}}" alt=""/>
							</li>
							<div class="clearfix"></div>
						</ul>
					</div>
				</div>
				<div class="clearfix"></div>
				<div ng-controller="reviewController" class="msgBox pr">
                	<span class="time fl">{{wb.timeStamp | timePassed}}</span>
					<span class="funBox fr">
						<a href="javascript:void(0);" ng-click="checkFavorite(wb)" class="btn-fav"><i ng-show="wb.isFavorite" class="fav_icon"></i><span ng-hide="wb.isFavorite">收藏</span></a><span>|</span>
						<a href="javascript:void(0);" ng-click="showRelay(wb)" class="btn-relay">转播{{wb.relays.length | bracket}}</a><span>|</span>
						<a href="javascript:void(0);" ng-click="showReview(wb)" class="btn-comt">评论{{wb.reviews.length | bracket}}</a>
						
						<a href="#" class="feed_opt"><i class="btn_ldrop"></i></a>
						
						<div class="mFun">
							<div class="bg">
								<div class="mFunDrop">							
									<p><a href="#" class="detail line" target="_blank">关注</a></p>
									<p><a href="#" class="alarm">删除</a></p>
								</div>
							</div>
						</div>
												
					</span>
					<div class="clearfix"></div>					
					<div class="zfWrap" id="relay-box" ng-show="wb.wbID === R.relayedWeibo">
						<div class="top c_tx5">
							<span class="left">
								<span class="number cNote">转播本条微博</span>
							</span>
							<a href="javascript:void(0);" class="W_close fr" title="关闭"></a>
						</div>
						
						<div class="cont">
							<textarea ng-model="relay.body" ng-change="relayChanged()" class="inputTxt" style="overflow-y: hidden; height: 37px;"></textarea>							
						</div>
						<div class="bot">
							<div class="fr">
								<span ng-show="R.chCounter<=30" class="countTxt">还能输入<em>{{R.chCounter}}</em>字</span>
								<a ng-click="(!R.txtInvalid) && addRelay(wb)" class="w_btn_a"><span class="btn_30px">转播</span></a>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="relayList">
							<div class="tabStyle1">
								<b class="line"></b>
							</div>
							<div class="">
								<ul>
									<li ng-repeat="r in relayList track by $index" class="nobor">										
										<div class="msgCnt">
											<strong><a href="#" target="_blank" class="f10a2c7">{{r.author}}</a>:</strong>
											<span class="content">{{r.body}}</span>
										</div>
										<div class="pubInfo">
											<span class="cNote">{{r.timeStamp | timePassed}}</span>
											<a href="#" class="alarm">删除</a>
											<a href="#" class="replyCite">评论</a>
										</div>
									</li>
								</ul>
							</div>
							<div class="pages">
								<a href="#" class="pageBtn">上一页</a>
								<a href="#">1</a>
								<b> 2</b>
								<a href="#">3</a>
								<a href="#">4</a>
								<a href="#" class="pageBtn">下一页</a>
							</div>
						</div>
					</div>
					
					<div class="zfWrap comt-box" ng-show="wb.wbID === R.reviewedWeibo">
					<form name="reviewForm" novalidate>
						<div class="top c_tx5">
							<span class="left">
								<span class="number cNote">评论本条微博</span>
							</span>
							<a href="javascript:void(0);" class="W_close fr" title="关闭"></a>
						</div>
						
						<div class="cont">
							<textarea ng-model="review.body" ng-change="reviewChanged()" class="inputTxt" style="overflow-y: hidden; height: 37px;"></textarea>							
						</div>
						<div class="bot">
							<div class="fr">								
								<span ng-show="R.chCounter<=30" class="countTxt">还能输入<em>{{R.chCounter}}</em>字</span>
								<a ng-click="(!R.txtInvalid) && addReview(wb)" class="w_btn_a"><span class="btn_30px">评论</span></a>
							</div>
							<div class="clearfix"></div>
						</div>
						</form>
						<div class="relayList">
							<div class="tabStyle1">
								<b class="line"></b>
							</div>
							<div class="">
								<ul>
									<li ng-repeat="r in reviewList track by $index" class="nobor">										
										<div class="msgCnt">
											<strong><a href="#" target="_blank" class="f10a2c7">{{r.author}}</a>:</strong>
											<span class="content">{{r.body}}</span>
										</div>
										<div class="pubInfo">
											<span class="cNote">{{r.timeStamp | timePassed}}</span>
											<a href="#" class="alarm">删除</a>
											<a href="#" class="replyCite">评论</a>
										</div>
									</li>
								</ul>
							</div>
							<div class="pages">
								<a href="#" class="pageBtn">上一页</a>
								<a href="#">1</a>
								<b> 2</b>
								<a href="#">3</a>
								<a href="#">4</a>
								<a href="#" class="pageBtn">下一页</a>
							</div>
						</div>
						
						
					</div>
					<div class="clearfix"></div>
					
				</div>
			</li>
		</ul>
	</div>