<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <base href="mobile/" />
    <title>Mobile Angular UI Demo</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimal-ui" />
    <meta name="apple-mobile-web-app-status-bar-style" content="yes" />
    <link rel="stylesheet" href="css/mobile-angular-ui-hover.min.css" />
    <link rel="stylesheet" href="css/mobile-angular-ui-base.min.css" />
    <link rel="stylesheet" href="css/mobile-angular-ui-desktop.min.css" />
    <link rel="stylesheet" href="css/addition.css" />
	<script src="js/jquery-1.10.1.min.js"></script>
	<script src="js/tabs.js"></script>
    <script src="lib/angular.min.js"></script>
    <script src="lib/angular-ui-router.min.js"></script>
    <script src="lib/mobile-angular-ui.min.js"></script>
    <script src="lib/mobile-angular-ui.gestures.js"></script>
    <script src="lib/leither-cloud.js"></script>
    <script src="lib/spin.min.js"></script>
	<script src="lib/ui-bootstrap-tpls.min.js"></script>
    <script src="js/GlobalDataStruct.js"></script>
    <script src="js/mobile.js"></script>
    <script src="js/root.js"></script>
    <script src="js/states.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/message.js"></script>
    <script src="js/review.js"></script>
    <script src="js/sms.js"></script>
<script type="text/javascript">
//define some globals
	//customize log function. Disable it by setting isDebug to false
	function setDebug(isDebug) {
		if (isDebug) {
			window.debug = {
				log: window.console.log.bind(window.console),
				error: window.console.error.bind(window.console),
				info: window.console.info.bind(window.console),
				warn: window.console.warn.bind(window.console)
			};
		} else {
			var __no_op = function() {};
			window.debug = {
				log: __no_op,
				error: __no_op,
				warn: __no_op,
				info: __no_op
			}
		}
	};
	setDebug(true);

	//if there is no inviter, then there is no userppt. Use appPpt as userppt
	if (G.inviter === '%%inviter%%')
		G.userppt = G.appPpt;
	G.leClient.login(null, G.userppt, function(sid) {
		G.sid = sid;
		G.leClient.getvar(sid, 'self', function(usr) {
			G.bid = usr.id;
			debug.log("login with ppt, sid=" + G.sid, "bid=" + G.bid);

			//start app after login
			//G.weiboApp = angular.module("appModule", ["mobile-angular-ui"])
			angular.bootstrap(document, ['appModule']);
			debug.log("auglar started")
		}, function(name, err) {
			debug.error("getSysUser err=" + err);
		});
	}, function(name, err) {
		debug.error(err);
	});
</script>
</head>

<body ng-controller="appController" class="b-hui">
<div ui-view>Hello world</div>

<script type="text/ng-template" id="post.html">
<div class="container">
 <div class="row head-nav">
  <div class="send-nav f18">
    <div class="pull-left send-qx"><a href="javascript:void(0)" onclick="history.go(-1)"><img src="images/btn3.png" width="15" class="vm ml5"/></a></div>
    <div class="pull-left send-wb text-center">微博正文</div>
	</div>
  </div>
  <div class="row send-main">
   <div class="mt10 b-fff">
	   <div class="ptb10 overf">
	      <div class="sy-photo pull-left mr10"><img src="images/pic.png" width="100%"/></div>
		  <div class="pull-left mt15">
		    <p class="c-org f20">{{wb.author}}</p>
	        <p class="c-999">{{wb.timeStamp | timePassed}}</p>
		  </div>
	   </div>
	   <div class="c-999 clear ptb10">
	        {{wb.body}}
	   </div>
	   <div class="three-pic ptb10">
	      <ul>
		    <li ng-repeat="pic in wb.pictures track by $index">
				<a href="javascript:void(0)"><img ng-src="{{pic.dataURI}}"></img></a>
			</li>
		  </ul>
	   </div>
	   <div ng-if="wb.parentID!==null && wb.parentWeibo!==null" class="pl-list">
	     <div class="mb10 c-999">
		  <span class="c-blue">@{{wb.parentWeibo.author}}：</span>{{wb.parentWeibo.body}}
		 </div>
	     <div class="three-pic">
	      <ul>
		    <li ng-repeat="pic in wb.parentWeibo.pictures track by $index">
				<a href="javascript:void(0);"><img ng-src="{{pic.dataURI}}"></img></a>
			</li>
		  </ul>
	     </div>
	   </div>
 <div class="sy-zan c-999 mt10"  >
	      <ul>
		    <li>
			 <a ng-click="myUserInfo.toggleFavorite(wb)" ng-hide="wb.isFavorite" href="javascript:void(0)" class="c-999"><img src="images/sc.png" width="16" class="vm mr5"/>收藏</a>
			 <a ng-click="myUserInfo.toggleFavorite(wb)" ng-show="wb.isFavorite" href="javascript:void(0)" class="c-org"><img src="images/sc2.png" width="16" class="vm mr5"/>取消</a>
			</li>
		    <li class="sy-fg">
			 <a ui-sref="root.post({wbID:wb.wbID})" class="c-999" onclick="togglezf()"><img src="images/zf.png" width="13" class="vm mr5"/></a>
			 <a ui-sref="root.post({wbID:wb.wbID})" class="c-org" style="display:none;"><img src="images/zf2.png" width="13" class="vm mr5"/>111</a>
			</li>
		    <li>
			 <a ui-sref="root.post({wbID:wb.wbID})" class="c-999" onclick="togglepl()"><img src="images/pl.png" width="17" class="vm mr5"/></a>
			 <a ui-sref="root.post({wbID:wb.wbID})" class="c-org" style="display:none;"><img src="images/pl2.png" width="17" class="vm mr5"/>226</a>
			</li>
		  </ul>
<div  class="hide" id="hidezf">
<form name="weiboForm" ng-submit="" novalidate>  
  <div class="row send-main-extend " >
 <!-- <div class="row head-nav">-->
  <div class="send-nav f18" ">
    <div class="pull-left send-qx send-qx-extend" ><a href="javascript:void(0)" onclick="cancel()" class="c-org">取消</a></div>
    <div class="pull-left send-wb text-center">编辑</div>
    <div class="pull-left send-fs  send-fs-extend text-right" ><a ng-click="forwardWeibo()" href="javascript:void(0)" class="c-999">发送</a></div>	
  </div>
  <!--</div>-->
    <textarea ng-model="txtComment" ng-change="txtChanged()" class="send-text-extend" placeholder="私语分享..."></textarea>
  </div>
</form>
</div>
<div  class="hide" id="hidepl">
<form name="weiboForm" ng-submit="" novalidate>  
  <div class="row send-main-extend " >
 <!-- <div class="row head-nav">-->
  <div class="send-nav f18" ">
    <div class="pull-left send-qx send-qx-extend" ><a href="javascript:void(0)" onclick="cancel()" class="c-org">取消</a></div>
    <div class="pull-left send-wb text-center">编辑</div>
    <div class="pull-left send-fs  send-fs-extend text-right" ><a ng-click="sendComment()" href="javascript:void(0)" class="c-999">发送</a></div>	
  </div>
  <!--</div>-->
    <textarea ng-model="txtComment" ng-change="txtChanged()" class="send-text-extend" placeholder="私语分享..."></textarea>
  </div>
</form>
</div>
	   </div>
  </div>
  </div>
 <div class="row mt10 b-fff">
   <div class="detail-nav plr15">
     <ul>
	   <li class="pl-active mr20"><a href="javascript:void(0);">转发{{wb.relays.length | bracket}}</a></li>
	   <li><a href="javascript:void(0);">评论{{wb.reviews.length | bracket}}</a></li>
	 </ul>
   </div>
   <div class="detail-info pl15 f14">
     <div class="overf">
	   <div ng-repeat="r in wb.relayList track by $index" class="detail-list">
	      <div class="detail-left pull-left mr10"><img le-src="{{myUserInfo.friends[r.authorID].headPicKey || myUserInfo.headPicKey}}" width="100%"/></div>
		  <div class="detail-right pull-left c-999">
		    <p class="f18 c-org">{{r.author}}</p>
			<p>{{r.timeStamp | timePassed}}</p>
			<p>{{r.body}}</p>
		  </div>
	   </div>
	 </div>
     <div class="overf" style=" display:none;">
	   <div ng-repeat="r in wb.reviewList track by $index" class="detail-list">
	      <div class="detail-left pull-left mr10"><img le-src="{{myUserInfo.friends[r.authorID].headPicKey || myUserInfo.headPicKey}}" width="100%"/></div>
		  <div class="detail-right pull-left c-999">
		    <p class="f18 c-org">{{r.author}}</p>
			<p>{{r.timeStamp | timePassed}}</p>
			<p>{{r.body}}</p>
		  </div>
	   </div>
	 </div>
   </div>
 </div>
</div>
</script>

<script type="text/ng-template" id="setup.html">
<div class="container">
 <div class="row head-nav">
  <div class="send-nav f18">
    <div class="pull-left send-qx"><a href="javascript:void(0)" onclick="history.go(-1)"><img src="images/btn3.png" width="15" class="vm ml5"/></a></div>
    <div class="pull-left send-wb text-center">设置</div>
	</div>
  </div>
  <div class="row send-main">
    <div class="set-photo"><img src="images/pho3.jpg"/></div>
	<div class="set-text text-center">头像</div>
    <div class="borders b-fff m10">
      <div class="my-msg">
	    <a ui-sref="root.xgnc"><div class="pull-left"><strong class="f16 c-333 lh30 mr15">昵称</strong>
	    <span class="f16 c-333 lh30">{{myUserInfo.nickName}}</span></div>
	    <div class="pull-right"><img src="images/btn4.png" height="20" class="mt5"/></div></a>
	  </div>
    </div>  
  </div>
</div>
</script>

<script type="text/ng-template" id="xgnc.html">
<div class="container">
 <div class="row head-nav">
  <div class="send-nav f18">
    <div class="pull-left send-qx"><a href="javascript:void(0)" onclick="history.go(-1)"><img src="images/btn3.png" width="15" class="vm ml5"/></a></div>
    <div class="pull-left send-wb text-center">修改昵称</div>
	</div>
  </div>
  <div class="row send-main p20">
  <form>
   <p><input type="text" ng-model="newNickName" class="set-input"></p>
   <p class="mt15"><a href="javascript:void(0)" ng-click="changeName()" class="set-but b-green c-fff">确 定</a></p>
  </form>
  </div>
 
</div>
</script>

<script type="text/ng-template" id="friends.html">
<div class="container">
 <div class="row head-nav">
  <div class="send-nav f18">
    <div class="pull-left send-qx"><a href="javascript:void(0);" onclick="history.go(-1)"><img src="images/btn3.png" width="15" class="vm ml5"/></a></div>
    <div class="pull-left send-wb text-center pr"><span class="up-tb">我的好友</span>
	 <div class="pa more-tit f16">
	   <ul class="pr">
	     <li data-type="haoyou"><a href="javascript:void(0);">我的好友</a></li>
	     <li data-type="yonghu"><a href="javascript:void(0);" ng-click="getOnlineUsers()">在线用户</a></li>
		 <div class="pa jiantou"></div>
	   </ul>
	 </div>
	</div>
	</div>
  </div>
  <div class="row send-main">
   <div class="contype haoyou">
    <div ng-repeat="(bid, ui) in myUserInfo.friends" class="bor-top b-fff">
      <div class="my-msg">
	    <div class="pull-left"><div class="my-left pull-left mr10"><img ng-src="{{ui.headPicUrl}}" width="100%"/></div>
	    <span class="f18 c-333 lh30">{{ui.nickName}}</span></div><div class="pull-right"><a ng-click="myUserInfo.delFriend(ui.bid)" href="javascript:void(0)" class="f-cancel">+取消</a></div>
	  </div>
    </div>  
   </div>  
   <div class="contype yonghu" style="display:none">
    <div ng-repeat="(bid, ui) in usrList" ng-dblClick="openRequest(ui);" class="bor-top b-fff">
      <div class="my-msg">
	    <div class="pull-left"><div class="my-left pull-left mr10"><img ng-src="{{ui.headPicUrl}}" width="100%"/></div>
	    <span class="f18 c-333 lh30">{{ui.nickName}}</span></div><div class="pull-right"><a ng-click="addFriend(ui)" href="javascript:void(0)" class="follow">关注</a></div>
	  </div>
    </div>  
   </div>
   </div>
  </div>
</div>
</script>

<script type="text/ng-template" id="msg.html">
  <div ng-repeat="(bid, ui) in myUserInfo.friends" class="mt10 b-fff">
      <div ng-show="ui.lastSMS" class="my-news">
	    <a ui-sref="root.msgDetail({bid:ui.bid})">
	    <div class="my-left pull-left mr10"><img ng-src="{{ui.headPicUrl}}" width="100%"/></div>
		 <div class="pull-left my-text">
		    <div>
		    	<div class="pull-left f18 c-org">{{ui.nickName}}</div>
		    	<div class="pull-right c-hui f14">{{ui.lastSMS.timeStamp | chatTime}}</div>
		    </div>
		   	<div class="c-999 clear f18">
				<span ng-show="ui.lastSMS.contentType===0">{{ui.lastSMS | message}}</span>
				<img ng-show="ui.lastSMS.contentType===1" style="max-height:120px; max-width:120px;" ng-src="{{ui.lastSMS.dataURI}}"></img>
				<span ng-show="ui.lastSMS.contentType===2">{{ui.lastSMS | message}}</span>
			</div>
		 </div>
		</a>
	  </div>
    </div>  
</script>

<script type="text/ng-template" id="msgDetail.html">
<div class="container">
 <div class="row head-nav">
  <div class="send-nav f18">
    <div class="pull-left send-qx"><a href="javascript:void(0)" onclick="history.go(-1)"><img src="images/btn3.png" width="15" class="vm ml5"/></a></div>
    <div class="pull-left send-wb text-center">{{currUserInfo.nickName}}</div>
	</div>
  </div>
  <form>
  <div class="row send-main">
    <textarea id="myChatArea2" ng-model="txtChat" ng-change="txtChanged();" class="msg-text" placeholder="发私信。。。"></textarea>
  </div>
  <div class="row b-hui">
     <div class="send-more"> 
	   <div class="pull-left">
		  <a href="javascript:void(0)" onclick="fileSelect();"><img src="images/img.png" width="24"/></a>
		  <input onchange="angular.element(this).scope().picSelected(this.files)" type="file" name="fileToUpload" id="fileToUpload" style="display:none;">
		<img ng-if="picFile" style="max-height: 80px; max-width: 80px" ng-src="{{picUrl}}" alt="loading"/>
	   </div>
	   <span ng-show="C.chCounter<=30">还可以输入<em>{{C.chCounter}}</em>字</span>
	   <div class="pull-right"><a href="javascript:void(0)" ng-click="sendMsg(inPageBid)" class="msg-send">发送</a></div>
	 </div>
	 <div class="msg-list plr15">
	  <div ng-repeat="m in inPageMsgs track by $index">
	   <div class="text-center msg-time c-hui f12 mt10"><span>{{m.timeStamp | chatTime}}</span></div>
	   <div>
	     <table width="100%" border="0" cellspacing="0" cellpadding="0">
	     	<tr ng-if="m.bid===myUserInfo.bid">
	     		<td align="right">
	     			<p class="f12 c-huim">{{myUserInfo.friends[m.bid].nickName || myUserInfo.nickName}}</p>
					<div ng-if="m.contentType===0" class="msg-right c-666 f14 pr">{{m | message}}</div>
					<img ng-if="m.contentType===1" style="max-height:120px; max-width:120px;" ng-src="{{m.dataURI}}"></img>
					<div ng-if="m.contentType===2" class="msg-right c-666 f14 pr">{{m | message}}</div>
				</td>
	     		<td width="48" valign="top">
	     			<div class="detail-left pull-right">
	     				<img ng-src="{{myUserInfo.friends[m.bid].headPicUrl || myUserInfo.headPicUrl}}" width="100%"/>	     			</div>
	     		</td>
     		</tr>
	     	<tr ng-if="m.bid!==myUserInfo.bid">
	     		<td width="48" valign="top">
					<div class="detail-left"><img ng-src="{{myUserInfo.friends[m.bid].headPicUrl || myUserInfo.headPicUrl}}" width="100%"/></div>
				</td>
	     		<td><p class="f12 c-huim">{{myUserInfo.friends[m.bid].nickName || myUserInfo.nickName}}</p>
					<div ng-if="m.contentType===0" class="msg-left c-666 f14 pr">{{m | message}}</div>
					<img ng-if="m.contentType===1" style="max-height:120px; max-width:120px;" ng-src="{{m.dataURI}}"></img>
					<div ng-if="m.contentType===2" class="msg-left c-666 f14 pr">{{m | message}}</div>
				</td>
     		</tr>
     	</table>
      </div>
	 </div>	
	 </div>
  </div>
  </form>
</div>
</script>

<script type="text/ng-template" id="my.html">
    <div class="mt10 b-fff">
	   <div class="ptb10 overf">
	      <div class="sy-photo pull-left mr10"><img src="images/pic.png" width="100%"/></div>
		  <div class="pull-left mt15">
		    <p class="c-org f20">乐跑王</p>
	        <p class="c-999">昨天  22:13</p>
		  </div>
	   </div>
	   <div class="sy-zan c-999 mt10">
	      <ul>
		    <li>
			 <a href="javascript:void(0)" class="c-999">微博</a>
			 <a href="javascript:void(0)" class="c-org" style="display:none;">微博</a>
			</li>
		    <li class="sy-fg">
			 <a href="javascript:void(0)" class="c-999">好友</a>
			 <a href="javascript:void(0)" class="c-org" style="display:none;">好友</a>
			</li>
		    <li>
			 <a href="javascript:void(0)" class="c-999">转发</a>
			 <a href="javascript:void(0)" class="c-org" style="display:none;">转发</a>
			</li>
		  </ul>
	   </div>
  </div>
  <div class="mt10 b-fff">
	   <div class="ptb10 overf">
	      <div class="wo-photo pull-left mr10"><img src="images/pic.png" width="100%"/></div>
		  <div class="pull-left mt5">
		    <p class="c-org f18">乐跑王</p>
	        <p class="c-999">昨天  22:13</p>
		  </div>
		  <div class="pull-right wo-more"><img src="images/down.png" width="18"/></div>
	   </div>
	   <div class="c-999 clear ptb10">
	        今天在贵阳国际大数据产业博览会议，中午自助餐时间，雷军和小米两位同事在吃饭，周鸿祎...
	   </div>
	   <div class="pl-list">
	     <div class="mb10 c-999">
		  <span class="c-blue">@张杰：</span>今天在贵阳国际大数据产业博览会议，中午自助餐时间，雷军和小米两位同事在吃饭，周鸿祎过来问，这里有没人？吃了一会，他站起来，拿出手机让服务员拍了两张，中间没聊任何事，更...
		 </div>
	     <div class="three-pic">
	      <ul>
		    <li><a href="javascript:void(0);"><img src="images/pho.jpg" width="100%"/></a></li>
		    <li><a href="javascript:void(0);"><img src="images/22.jpg" width="100%"/></a></li>
		  </ul>
	     </div>
	   </div>
	   <div class="sy-zan c-999 mt10">
	      <ul>
		    <li>
			 <a href="javascript:void(0)" class="c-999"><img src="images/sc.png" width="16" class="vm mr5"/>收藏</a>
			 <a href="javascript:void(0)" class="c-org" style="display:none;"><img src="images/sc2.png" width="16" class="vm mr5"/>已收藏</a>
			</li>
		    <li class="sy-fg">
			 <a href="javascript:void(0)" class="c-999"><img src="images/zf.png" width="13" class="vm mr5"/>111</a>
			 <a href="javascript:void(0)" class="c-org" style="display:none;"><img src="images/zf2.png" width="13" class="vm mr5"/>111</a>
			</li>
		    <li>
			 <a href="javascript:void(0)" class="c-999"><img src="images/pl.png" width="17" class="vm mr5"/>226</a>
			 <a href="javascript:void(0)" class="c-org" style="display:none;"><img src="images/pl2.png" width="17" class="vm mr5"/>226</a>
			</li>
		  </ul>
	   </div>
  </div>
</script>

<script type="text/ng-template" id="send.html">
<div class="container">
<form name="weiboForm" ng-submit="" novalidate>  
 <div class="row head-nav">
  <div class="send-nav f18">
    <div class="pull-left send-qx"><a href="javascript:void(0)" onclick="history.back()" class="c-org">取消</a></div>
    <div class="pull-left send-wb text-center">发微博</div>
    <div class="pull-left send-fs text-right"><a ng-click="(!P.txtInvalid) && addNewPost()" href="javascript:void(0)" class="c-999">发送</a></div>
	</div>
  </div>
  <div class="row send-main">
    <textarea ng-model="wbText" ng-change="wbtxtChanged()" class="send-text" placeholder="私语分享..."></textarea>
  </div>
  <div class="row b-hui">
     <div class="send-more">
	  <a href="javascript:void(0)" onclick="fileSelect();"><img src="images/img.png" width="24"/></a>
	  <input type="file" onchange="angular.element(this).scope().fileSelected(this.files)" name="fileToUpload" id="fileToUpload" multiple accept="image/*" style="display:none;">
	 </div>
	 <div class="send-img">
	   <ul>
	     <li ng-repeat="url in tmpPicUrls track by $index">
			<a href="javascript:void(0)"><img ng-src="{{url}}"/></a><i><a ng-click="delPic($index)" href="javascript:void(0)"></a></i>
		 </li>
	     <li><a href="javascript:void(0)" onclick="fileSelect();"><img src="images/pho2.jpg"/></a></li>
	   </ul>
	 </div>
  </div>
</form>
</div>
</script>
<script type="text/ng-template" id="main.html">
<div class="container">
 <div class="row head-nav">
  <div class="sy-nav">
    <div class="pull-left f24 ml10">{{myUserInfo.nickName}}<img src="images/btn1.png" width="11" class="vm ml10"/></div>
	<div class="pull-right mr20 vm">
	<a ui-sref="root.newPost"><img src="images/btn2.png" width="21"></a>
	<a ui-sref="root.setup" class="ml20"><img src="images/set.png" width="22"></a>
	<a ui-sref="root.friends" class="ml20"><img src="images/user.png" width="22"></a>
	<a href="javascript:void(0)" class="ml20" onclick="history.go(0)"><img src="images/fresh.png" width="20"></a>
	</div>
  </div>
  <div class="sy-tab f20 b-fff">
    <ul>
	  <li ui-sref-active="nav-active"><a ui-sref="root.main.allPosts"><span class="tb1"></span>首页</a></li>
	  <li ui-sref-active="nav-active"><a ui-sref="root.main.msg"><span class="tb2"></span>信息</a></li>
	  <li ui-sref-active="nav-active"><a ui-sref="root.main.my"><span class="tb3"></span>我</a></li>
	</ul>
  </div>
 </div>
 <div class="row list-info">
  <div class="main-info">
 	<div ui-view>weiboList</div>
  </div>
 </div>
</script>

<script type="text/ng-template" id="weiboList.html">
  <div class="mt10 b-fff" ng-repeat="wb in currentList track by $index">
	   <div class="ptb10 overf">
	      <div class="sy-photo pull-left mr10"><img ng-src="{{myUserInfo.friends[wb.authorID].headPicUrl || myUserInfo.headPicUrl}}" width="100%"/></div>
		  <div class="pull-left mt15">
		    <p class="c-org f20">{{wb.author}}</p>
	        <p class="c-999">{{wb.timeStamp | timePassed}}</p>
		  </div>
	   </div>
	   <div class="c-999 clear ptb10">{{wb.body}}</div>
	   <div class="three-pic ptb10">
	      <ul>
		    <li ng-repeat="pic in wb.pictures track by $index">
				<a href="javascript:void(0);" ng-click="showPostDetail(wb)"><img ng-src="{{pic.dataURI}}"></img></a>
			</li>
		  </ul>
	   </div>
	   <div ng-if="wb.parentID!==null && wb.parentWeibo!==null" class="pl-list">
	     <div class="mb10 c-999">
		  <span class="c-blue">@{{wb.parentWeibo.author}}：</span>{{wb.parentWeibo.body}}
		 </div>
	     <div class="three-pic">
	      <ul>
		    <li ng-repeat="pic in wb.parentWeibo.pictures track by $index">
				<a href="javascript:void(0);" ng-click="showPostDetail(wb)"><img ng-src="{{pic.dataURI}}"></img></a>
			</li>
		  </ul>
	     </div>
	   </div>
	   <div class="sy-zan c-999 mt10">
	      <ul>
		    <li>
			 <a ng-click="myUserInfo.toggleFavorite(wb)" ng-hide="wb.isFavorite" href="javascript:void(0)" class="c-999"><img src="images/sc.png" width="16" class="vm mr5"/>收藏</a>
			 <a ng-click="myUserInfo.toggleFavorite(wb)" ng-show="wb.isFavorite" href="javascript:void(0)" class="c-org"><img src="images/sc2.png" width="16" class="vm mr5"/>取消</a>
			</li>
		    <li class="sy-fg">
			 <a ui-sref="root.post({wbID:wb.wbID})" class="c-999"><img src="images/zf.png" width="13" class="vm mr5"/>{{wb.relays.length | bracket}}</a>
			 <a ui-sref="root.post({wbID:wb.wbID})" class="c-org" style="display:none;"><img src="images/zf2.png" width="13" class="vm mr5"/>111</a>
			</li>
		    <li>
			 <a ui-sref="root.post({wbID:wb.wbID})" class="c-999"><img src="images/pl.png" width="17" class="vm mr5"/>{{wb.reviews.length | bracket}}</a>
			 <a ui-sref="root.post({wbID:wb.wbID})" class="c-org" style="display:none;"><img src="images/pl2.png" width="17" class="vm mr5"/>226</a>
			</li>
		  </ul>
	   </div>
  </div>
  <pager total-items="totalItems" items-per-page="global.itemsPerPage" ng-model="global.currentPage" ng-change="pageChanged()"></pager>
</script>
<!-- html end -->
<!--删除微博弹出层-->
<div class="alert-main text-center hide">
  <p class="mb10"><a href="javascript:void(0);" class="alert-cz c-red">删除</a></p>
  <p><a href="javascript:void(0);" class="alert-cz c-666 cancel">取消</a></p>
</div>
<div class="fade"></div>
</body>
</html>
